<h1> Inventory
<div class="dropdown" style= "float:right">
 <button class="btn btn-default dropdown-toggle"
         type="button"
         id="dropdownMenu1"
         data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="true">
  <span class="fa fa-plus-square fa-2x"></span>
 </button>
 <div  id="add-part"
      class="dropdown-menu dropdown-menu-right"
      aria-labelledby="dropdownMenu1">
      <app-inventory-form></app-inventory-form>
 </div>
</div>
</h1>
<form id="filter">
 <label> Filter parts by name:</label>
 <input type="text"  [ngModelOptions]="{standalone:true}" [(ngModel)]="term"/>
</form>

<br>
<br>
<br>
<!-- add loader icon -->
<i *ngIf="isLoading" class="fa fa-cog fa-spin fa-3x"></i>
<i *ngIf="isLoading" class="fa fa-cog fa-spin fa-3x"></i>
<i *ngIf="isLoading" class="fa fa-cog fa-spin fa-3x"></i>
<i *ngIf="isLoading" class="fa fa-cog fa-spin fa-3x"></i>
<i *ngIf="isLoading" class="fa fa-cog fa-spin fa-3x"></i>
<!-- add loader icon -->
<div *ngIf="!isLoading">
 <div class="btn-group inventory"  *ngFor="let part of parts | filter:term">
  <button type="button"
          class="btn btn-default dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
   <div class="part">{{ part.$key }}
   </div>
   <div class="qty">{{ part.quantity }}
   </div>
   <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">

    <li><a  (click)="onSelect(part)" class= "clickable"><i class="fa fa-pencil fa-fw "></i>  Edit</a></li>
    <li><a  (click)="onDeleteClick(part)" class= "clickable"><i class="fa fa-trash-o fa-fw"></i>  Delete</a></li>
    <li><a href="#"><i class="fa fa-exclamation-triangle fa-fw"></i>  Alert!</a></li>
    <!-- <li role="separator" class="divider"></li> -->
    <br>


  </ul>
 </div>
</div>
