.wrapper
{overflow:hidden;
 padding:50px 0 40px;
 line-height:0
}
.wrapper.no-pad{padding-left:0;
 padding-right:0
 }

.footer-push{
 min-height:100%;
 height:auto !important;
 height:100%;
 margin-bottom:-55px
}

.nav-bar {

text-align: left;
padding: 10px 0;
background-color: #584b4f;
color: #efeae1;
font-size: 14px;
height: 42px;
}

.nav-bar h1{
 font-size: inherit;
 display:inline-block;
 line-height:0;
 margin:0
}
.nav-bar a{
 color:#efeae1
}
.nav-bar a:hover{
 color:#81c08b;
 text-decoration:none
}
.nav-bar a.is-selected{
 color:#a29f99
}

.nav-bar .navigation{
 display:inline-block
}
.nav-bar .nav-bar-right{
 float:right;
 line-height:33px
}
.nav-bar .nav-bar-right .octicon{
 position:relative;
 nav:1px;
 padding:5px
}
.nav-bar .nav-bar-right .tooltipped{
 padding-bottom:2px;
 margin-left:10px
}
.nav-bar .nav-bar-right .gravatar{
 height:22px;
 width:22px;
 vertical-align:-7px;
 margin-right:5px
}
.nav-bar .minibutton{
 margin:4px 0
}
.navigation{list-style-type:none;
 margin:0;
 padding:0
}
.navigation li{
 display:inline-block;
 padding-right:5px;
 height:33px;
 vertical-align:top
}
.navigation li:last-child{
 padding-right:0
}
.navigation a{
 padding:5px;
 display:inline-block;
 transition:color 0.2s;
 -o-transform:color 0.2s;
 -moz-transform:color 0.2s;
 -webkit-transition:color 0.2s
}
.navigation a:hover{
 text-decoration:none
}
